<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Mes Appareils</h2>
            <ul class="list-group" >
                <app-appareil [appareilName]="appareilOne" [status]="'off'"></app-appareil>
                <app-appareil [appareilName]="appareilTwo" [status]="'on'"></app-appareil>
                <app-appareil [appareilName]="appareilThree" [status]="'off'"></app-appareil>
            </ul >
            <button class="btn btn-success" 
                [disabled] = "!isAuth"
                (click)="onAllumer()"
            >
            On all
            </button>
        </div>
    </div>
</div>